h3 p{
	margin-left:50px;
}
h3 img{
	border-style:solid;
	border-width:2px;
	border-color:#deef11;
	width:30%;
	height:30%;
}
	

h2 a{
	font-size:50px;
	margin-left:150px;
	color:#e11aee;
}
h2 mail_address{
	font-size:10px;
}