@media (min-width: 1200px){
	body{background-color: blue;}
	h1{font-weight:600;}
}

body{
	padding: 10px 15px 15px 5px;
	/*equal to:
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	*/
}

